:root {
  --black: black;
  --yellow: #dcc076;
  --white: #fff;
  --blue: #54aeea;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(--black);
  text-align: center;
  padding-top: 200px;
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h2,
h3 {
  text-align: center;
  color: var(--black);
}

p {
  color: var(--black);
  font-size: 18px;
  line-height: 1.4;
}

footer {
  background-color: var(--white);
  text-align: center;
  font-size: smaller;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: var(--white);
}

.hero {
  background-image: url(/photos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 750px;
  background-position: center;
  width: 100%;
}

.about {
  background-color: var(--white);
}

.about-heading {
  color: var(--yellow);
}

.writing-work {
  background-color: var(--yellow);
  text-align: center;
}

.card {
  margin: 0 auto;
  background-color: var(--yellow);
  border: none;
}

.card-title,
.card-text {
  text-align: center;
  font-style: bold;
}

.heading {
  padding: 30px 0;
  color: var(--white);
}

.web-work {
  background-color: var(--blue);
  text-align: center;
}

.carousel {
  height: 450px;
  width: 700px;
  margin: 0 auto;
}

.contact {
  background-color: var(--yellow);
  padding: 20px 0;
  text-align: center;
}

.email {
  color: var(--primary-color);
  text-decoration: none;
}

.icon {
  text-decoration: none;
  color: var(--primary-color);
}

.contact-icon {
  text-align: center;
}

.journalism-work {
  background-color: var(--yellow);
}

.web-work-page {
  background-color: var(--blue);
}

.more-button {
  display: block;
  margin: 0 auto;
  background-color: var(--blue);
  border: none;
  padding: 10px 20px;
}

.more-button:hover {
  background-color: var(--white);
  border: none;
  color: black;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.web-more-button {
  display: block;
  margin: 30px auto;
  background-color: var(--yellow);
  border: none;
  padding: 10px 20px;
}

.web-more-button:hover {
  background-color: var(--white);
  border: none;
  color: black;
}

.work-web-paragraph {
  text-align: center;
}

.work-web-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    padding-top: 50px;
  }
  h3,
  h4 {
    font-size: 20px;
  }
  .hero {
    height: 663px;
  }
  .about-blurb {
    text-align: center;
  }
}
